
/*
//----------------------------------------------------------------------------------
//
// 커뮤니티 글 작성 페이지
//
//----------------------------------------------------------------------------------
*/

.community-writing{
    margin: 50px auto;
}

.community-writing p.section-discription{
    margin-bottom: 20px;
}

.title label {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    height: 40px;
    padding-top: 10px;
}

.title input {
    width: 80%;
    font-weight: 400;
    font-size: 1rem;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.btn-box .my-btn{
    font-size: 2rem;
    margin: 20px;
}
