/*
//----------------------------------------------------------------------------------
//
// 마이페이지 메뉴
//
//----------------------------------------------------------------------------------
*/

.mypage-studyroom .line-bottom {
    padding: 5px;
    margin-bottom: 20px;
}

.mypage-studyroom .section-title {
    padding-top: 5px;
}

.mypage-studyroom .mypage-menu-box .menu{
    padding-top: 10px;
}

.menu-bar-box {
    width: 360px; margin: 0 auto;
}

.mypage-studyroom .menu-bar-box .mypage-menu-box .menu:first-child{
    margin-right: 50px;
}

#bar {
    height: 10px;
    background: #FFC267;

    position: relative;
  
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.left {
    margin-left: 10px;
    margin-right: 230px;
}

.right {
    margin-left: 210px;
    margin-right: 60px;
}

/*
//----------------------------------------------------------------------------------
//
// 내 스터디
//
//----------------------------------------------------------------------------------
*/
.study-room-box .flex-box{
    justify-content: center;
    flex-direction: column;
}

.study-room-box .study-room {
    padding-left: 10px;
    min-width: 500px;
    margin: 20px auto;
}

.study-room-box .study-room .study-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.study-room-box .study-room .study-name .status{
    margin-right: 10px;
}

.study-room-box .study-room .accordion{
    padding-top: 10px;    

}

.study-room-box .study-room .accordion .study-info th{
    padding: 6px;
    text-align: right;
}