/*
//----------------------------------------------------------------------------------
//
// 마이페이지 메뉴
//
//----------------------------------------------------------------------------------
*/

.mypage-userinfo .line-bottom {
    padding: 5px;
    margin-bottom: 20px;
}

.mypage-userinfo .section-title {
    padding-top: 5px;
}
.mypage-userinfo .mypage-menu-box {
    display: flex;
    justify-content: center ;
}

.mypage-userinfo .mypage-menu-box .menu{
    width: 30%;
    margin-right: 20px;
    padding-top: 20px;
}

.mypage-userinfo .mypage-menu-box .menu:first-child {
    border-bottom: 10px solid #FFC267 ;
}

/* 이거 옆 메뉴에 마우스 올리면 옆으로 노란색 움직이게 어케하지? div를 하나 더 만들어야대려나 */

/*
//----------------------------------------------------------------------------------
//
// 정보 수정 폼
//
//----------------------------------------------------------------------------------
*/

.mypage-userinfo .mypage-userinfo-form table tr th {
    font-weight: bold;
    text-align: right;
    min-width: 120px;
    padding-right: 10px;
    vertical-align: middle;
}

.mypage-userinfo .mypage-userinfo-form tr td{
    width: 100%;
    margin-left: 20px;
    padding: 10px;

}

.mypage-userinfo .mypage-userinfo-form input[type='text'], 
.mypage-userinfo .mypage-userinfo-form input[type='password'] {
    width: 100%;
}

.mypage-userinfo .mypage-userinfo-form .join-radio-box > div {
   margin-right: 5px;
   display: inline-block;
}


.mypage-userinfo .mypage-userinfo-form .select-region select {
    width: 100px;
}

.mypage-userinfo .mypage-userinfo-form tr:last-child input{
    margin-right: 15px;
}

/*
//----------------------------------------------------------------------------------
//
// 회원 탈퇴 부분
//
//----------------------------------------------------------------------------------
*/
.section-discription {
    padding-bottom: 20px;
}

.get-out-form input[type="text"]{
    margin-right: 20px;
    width: 40%;
}