/*
//----------------------------------------------------------------------------------
//
// 마이페이지 메뉴
//
//----------------------------------------------------------------------------------
*/

.mypage-userinfo .line-bottom {
    padding: 5px;
    margin-bottom: 20px;
}

.mypage-userinfo .section-title {
    padding-top: 5px;
}

.mypage-userinfo .mypage-menu-box .menu{
    padding-top: 10px;
}
.mypage-userinfo .mypage-menu-box .menu:first-child{
    margin-right: 50px;
}

.menu-bar-box {
    width: 360px; margin: 0 auto;
}

#bar {
    height: 10px;
    background: #FFC267;

    position: relative;
  
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.left {
    margin-left: 10px;
    margin-right: 230px;
}

.right {
    margin-left: 210px;
    margin-right: 60px;
}

/*
//----------------------------------------------------------------------------------
//
// 정보 수정 폼
//
//----------------------------------------------------------------------------------
*/

.mypage-userinfo .mypage-userinfo-form table tr th {
    font-weight: bold;
    text-align: right;
    min-width: 120px;
    padding-right: 10px;
    vertical-align: middle;
}

.mypage-userinfo .mypage-userinfo-form tr td{
    width: 100%;
    margin-left: 20px;
    padding: 10px;

}

.mypage-userinfo .mypage-userinfo-form input[type='text'], 
.mypage-userinfo .mypage-userinfo-form input[type='password'] {
    width: 100%;
}

.mypage-userinfo .section-discription {
    padding-bottom: 0px;
}

.mypage-userinfo .mypage-userinfo-form #email {
    width: 70%;
    margin-right: 15px;
}


.mypage-userinfo .mypage-userinfo-form .join-radio-box > div {
   margin-right: 5px;
   display: inline-block;
}


.mypage-userinfo .mypage-userinfo-form .select-region select {
    width: 100px;
}

.mypage-userinfo .mypage-userinfo-form tr:last-child input{
    margin-right: 15px;
}

/*
//----------------------------------------------------------------------------------
//
// 회원 탈퇴 부분
//
//----------------------------------------------------------------------------------
*/
.get-out-form .section-discription {
    padding-bottom: 20px;
}

.get-out-form input[type="text"]{
    margin-right: 20px;
    width: 40%;
}