/*
//----------------------------------------------------------------------------------
//
// 스터디 룸 생성 동의 안내
//
//----------------------------------------------------------------------------------
*/
.study-guide-box .flex-box {
    justify-content: space-between;
    align-items: center;
}

.study-guide-box .section-discription {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-right: 10px;
    padding-left: 20px;
}

.study-guide-box .btn-box {
    padding-bottom: 40px;
}

.study-guide-box .btn-box input:not(:last-child) {
    margin-right: 5px;
}





