/*
//----------------------------------------------------------------------------------
//
// [study] 스터디 참가 신청하기 
//
//----------------------------------------------------------------------------------
*/
.study-apply .study-apply-box .line-bottom {
    margin-bottom: 10px;
}

.study-apply .study-apply-box a {
    font-size: 1.3rem;
    padding: 0 20px;
    text-decoration: underline;
    display: inline-block;
}

.study-apply .study-apply-box p {
    padding: 0 20px;
}

.study-apply .study-apply-box a:hover {
    color: #FFC267;
}

.study-apply .study-explanation-box > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.study-apply .study-explanation-box > div p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-right: 10px;
    padding-left: 20px;
    font-weight: bold;
}

.study-apply .btn-box {
    padding-bottom: 40px;
}

.study-apply .btn-box input:not(:last-child) {
    margin-right: 5px;
}