
.study-join-complete {
    max-width: 684px;
    margin: auto;
    padding-top: 50px;
}

/*
//----------------------------------------------------------------------------------
//
// 스터디넷 회원가입 맨 위 문구
//
//----------------------------------------------------------------------------------
*/
.study-complete-box .flex-box {
    justify-content: center;
    align-items: baseline;
}

/*
//----------------------------------------------------------------------------------
//
// 페이지 버튼(마이 페이지, 메인 페이지
//
//----------------------------------------------------------------------------------
*/

.study-page-btn-box {
    width: 100%;
    text-align: center;
    display: flex;
}

.study-page-btn-box .my-btn{
    border-radius: 3px;
}


