/*
//----------------------------------------------------------------------------------
//
// 스터디넷 회원가입 완료페이지
//
//----------------------------------------------------------------------------------
*/
.user-join-complete .board > div {
    padding-bottom: 50px;
}

.user-join-complete input {
    display: block;
    margin: 10px auto;
}

.user-join-complete .section-discription {
    margin-top: 30px;
}

