/*
//----------------------------------------------------------------------------------
//
// 로그인 페이지
//
//----------------------------------------------------------------------------------
*/
.study-login { 
    padding: 60px 40px;
}

.study-login .inner-box {
    max-width: 684px;
}

.study-login .study-login-box .flex-box{
    justify-content: center;
}

.study-login .study-login-box .black-bottom-line{
    border-bottom: solid 3px #2E323C;
    padding-top: 0px;
    margin-bottom: 20px;
}

.study-login .study-login-box h2.section-title {
    display: inline-block;
    padding-bottom: 0px;
}

/*
//----------------------------------------------------------------------------------
//
// 로그인 input
//
//----------------------------------------------------------------------------------
*/
.study-login .study-log-box .log-input a{
    text-decoration: underline;
}

.study-login .study-log-box .link_find{
    margin-top: 20px;
}

.study-log-box .log-input input[type="text"]
, .study-log-box .log-input input[type="password"] {
    width: 300px;
    display: block;
    margin: 10px auto;
}

.study-log-box .log-input input[value="로그인"] {
    margin-right: 5px;
}