/*
//----------------------------------------------------------------------------------
//
// 스터디넷 회원가입
//
//----------------------------------------------------------------------------------
*/
.study-join .contents-box .join-description {
    align-items: baseline;
    justify-content: center;
}

.study-join .contents-box .join-description h2 {
    margin-right: 10px;
    color: #3B5BA2;
}

.study-join .line-bottom {
    padding: 0px;
}

/*
//----------------------------------------------------------------------------------
//
// 테이블
//
//----------------------------------------------------------------------------------
*/
.study-join .study-join-form {
    margin: 0 auto;
}
.study-join .study-join-form table tr th {
    font-weight: bold;
    text-align: right;
    min-width: 120px;
    padding-right: 10px;
    vertical-align: middle;
}

.study-join .study-join-form tr td{
    width: 100%;
    margin-left: 20px;
    padding: 10px;
    vertical-align: middle;
}

.study-join .study-join-form input[type='text']
, .study-join .study-join-form input[type='password'] {
    width: 100%;
}

.study-join .study-join-form .join-radio-box > div {
   margin-right: 5px;
   display: inline-block;
}

.study-join .study-join-form .select-region div {
    display: inline-block;
    margin-right: 30px;
}


.study-join .study-join-form .select-region select {
    width: 100px;
}

.study-join .study-join-form input[value="가입하기"] {
    margin-right: 5px;
}

.study-join .study-join-form tr:last-child {
    height: 150px;
}